<html>
<head>
	<title>Панель администратора</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

{{ include('style.css') }}
</head>
<body>
	<header>

		<div class='container'>
			<div class='menu-left'>
				<!-- <img alt="Логотип" src="img/logo.png"> -->
				<p>TeleClinica server</p>
			</div>
			<div class='menu-right'>
				<button>Выход</button>
			</div>
		</div>
	</header>
{{ include('part/menu.tpl') }}

	<div class='list container'>
		<section id='listCart'>
			<h1>Рабочй стол</h1>
{{weather}}
		</section>
	</div>
</body>
</html>
