<html>
<head>
	<title>Панель администратора</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	{% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{{ include('style.css') }}
</head>
<body>
	<header>
		<div class='container'>
			<div class='menu-left'>
				<!-- <img alt="Логотип" src="img/logo.png"> -->
				<p>TeleClinica server</p>
			</div>
			<div class='menu-right'>
				<button>Выход</button>
			</div>
		</div>
	</header>
	<ul class="menu">
		<li><a href="/" class="active"><img src="icon/desktop.png">Рабочий стол</a></li>
		<li><a href="/setting"><img src="">Настройки</a>
		<ul>
			<li><a href="#">Подключение</a></li>
			<li><a href="/setting/doctor">Список врачей</a></li>
			<li><a href="#">Справочники</a></li>
			<li><a href="#">Настройки выгрузки</a></li>
		</ul>
		</li>
		<li><a href="#"><img src="icon/list.png">Программа</a></li>
	</ul>

	<div class='list container'>
		<section id='listCart'>
			<h1>Список врачей</h1>
			<div class='sort'>
				<div>
					<label>Специальность</label>
					<select>
						<option>Все</option>
						<option>gfhfg</option>
					</select>
					<label>Статус</label>
					<select>
						<option>Все</option>
						<option>gfhfg</option>
					</select>
				</div>

				<div class="find">
					<form>
						<input type="text" placeholder="Введите фамилию...">
						<button type="submit"></button>
					</form>
				</div>
			</div>

			<table>
				<tr>
					<th><p>ФИО</p></th>
					<th><p>Специальность</p></th>
					<th><p>Статус интеграции</p></th>
					<th>Действия</th>
				</tr>
				<tr>
					<td><p>Иванов Иван Иванович</p></td>
		    		<td><p>педиатр</p></td>
					<td><p style="text-transform: uppercase;">включен</p></td>
					<td>
						<form action="productDeleteAdmin" method="post">
							<button name='idProduct' value="#">Добавить в систему</button>
						</form>
					</td>
				</tr>
				<tr>
					<td><p>Иванов Иван Иванович</p></td>
		    		<td><p>педиатр</p></td>
					<td><p style="text-transform: uppercase;">включен</p></td>
					<td>
						<form action="productDeleteAdmin" method="post">
							<button name='idProduct' value="#">Добавить в систему</button>
						</form>
					</td>
				</tr>
				<tr>
					<td><p>Иванов Иван Иванович</p></td>
		    		<td><p>педиатр</p></td>
					<td><p style="text-transform: uppercase;">включен</p></td>
					<td>
						<form action="productDeleteAdmin" method="post">
							<button name='idProduct' value="#">Добавить в систему</button>
						</form>
					</td>
				</tr>
			</table>
		</section>
	</div>
</body>
</html>
